/* FONTS */
@font-face {
    font-family: 'agency';
    src: url(../fonts/AGENCYR.TTF);
}

/* GENERAL */
/* Overall container */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: 40px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 75px;
    top: 0;
    position: absolute;
    width: 100%;
}

nav img {
    width: 100px;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 15px;
}

nav li {
    margin-left: 25%;
}

nav a {
    text-align: center;
    color: #ed6f9f;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    transition: color 0.5s;
}

nav a:hover,
.selected {
    color: #ec8b6b;
}

nav h1 {
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 5px;
    color: #ec8b6b;
    margin-left: 20px;
}

/* Terms of Service */
.tos {
    display: flex;
    background-color: #eee;
    position: sticky;
    justify-content: space-between;
    bottom: 0;
    box-shadow: -2px -8px 16px -2px rgba(0, 0, 0, 0.6);
}

.tos h1 {
    font-size: 30px;
    font-family: 'arial';
    font-weight: normal;
    margin-bottom: 0;
}

.tos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.tos-info a {
    text-decoration: underline;
    color: #000;
}

.tos-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    min-width: 300px;
}

.tos-buttons button {
    width: 40%;
    height: 50px;
    color: #000;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #ec8b6b, #ed6f9f);
    transition: color 0.5s;
}

.tos-buttons button:hover {
    color: white;
}

/* Footer */
.footerwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f3f3f3;
}

.footerCol {
    width: auto;
    padding: 20px;
    text-align: center;
    align-content: center;
}

.footerCol .footerTitle {
    background: linear-gradient(0.25turn, #ec8b6b, #ed6f9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.footerCol ul {
    padding: 0;
}

.footerCol li,
.footerCol a {
    list-style: none;
    color: black;
    text-decoration: none;
}

.footerCol li a:hover {
    color: #ec8b6b;
    transition: color 0.3s;
}

.footerCol .divider-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerCol .divider {
    background: linear-gradient(to right, #ec8b6b, #ed6f9f);
    width: 25px;
    height: 5px;
}

/* Background */
.slogan {
    background-image: url(../assets/gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.slogan h2,
.slogan p {
    font-family: 'arial';
    color: #FFF;
    letter-spacing: 5px;
    font-weight: normal;
    margin: 0;
}

.slogan h2 {
    font-size: 30px;
    margin-top: 80px;
}

.slogan p {
    font-size: 25px;
    font-family: 'agency';
}

/* Search Bar */
.search-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    height: 40px;
    width: 75%;
    background-color: #fff;
    border-radius: 40px;
    padding: 5px;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #ec8b6b, #ed6f9f) border-box;
}

.search-box a {
    color: white;
    text-decoration: none;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #ec8b6b, #ed6f9f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    margin-left: 10px;
}

.hide {
    display: none;
}

/* INDEX */
/* Game categories */
.pageTitle {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#ec8b6b, #ec8b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gamecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.gamecard h2,
.gamecard p,
label {
    display: none;
}

.game-categories .gamecard img {
    padding: 5px;
    width: 310px;
    height: 360px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1.0);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.game-categories .gamecard img:hover {
    background-color: #ec8b6b;
    box-shadow: 0 10px 20px #ec8b6b;
}

/* Login Form */
.loginwrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logincontainer {
    font-size: 18px;
    font-family: 'arial', sans-serif;
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #fff;
}

.logincontainer .formTitle {
    margin-bottom: 2rem;
    text-align: center;
}

.logincontainer .formMessage {
    text-align: center;
    margin-bottom: 1rem;
}

.formMessage--success {
    color: green;
}

.formMessage--error {
    color: rgb(170, 6, 0);
}

.logincontainer .formInputGroup {
    margin-bottom: 1rem;
}

.logincontainer .formInput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1.5px solid #ddd;
    outline: none;
    background: #eee;
    transition: border-color 0.2s, background 0.2s;
}

.logincontainer .formInput:focus {
    border-color: #ec8b6b;
    background: #fff;
}

.logincontainer .formInputSuccess {
    color: darkgreen;
    border-color: darkgreen;
}

.logincontainer .hidePasswordBtn i {
    color: #ec8b6b;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.logincontainer .formSubmit {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #ec8b6b, #ed6f9f);
    transition: font-size 0.2s, background 0.2s;
}

.logincontainer .formSubmit:hover,
.logincontainer .formSubmit:active {
    background: linear-gradient(to right, #ec8b6b, #ed6f9f);
    font-size: 25px;
}

.logincontainer .formText {
    text-align: center;
}

.logincontainer .formLink {
    color: #ec8b6b;
    text-decoration: none;
    cursor: pointer;
}

.logincontainer .formLink:hover {
    text-decoration: underline;
}

/* Game Forum */
.game-status-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.game-status {
    width: 73%;
    border-bottom: #ffe76f 3px solid;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
    .tos {
        flex-direction: column;
    }

    .tos-info {
        align-items: center;
        text-align: center;
    }

    .tos-buttons {
        width: 100%;
        margin-bottom: 10px;
    }

    .tos-buttons button {
        width: 35%;
    }
}

@media only screen and (max-width: 870px) {
    .footerwrapper {
        flex-wrap: wrap;
    }
}



